[2020-03-27 15:44] RELNO opened #1 "invalid JSON"
https://github.com/CityScope/CSL_Paris/blob/master/ReChamp_Gama/models/result_WGS84.json

[code]
`people` is invalid notation

[2020-03-27 16:14] RELNO commented on #1
As well, timestamps should be `INT` and should not all be the same

[2020-03-28 14:30] agrignard commented on #1
Ok for the time it was an issue due to the conversion to WGS86 (the Z was lost) so now I just push the 10 first cyle but we can change that.

Then what's the problem for ```people```?  You need a string ?

[2020-03-28 15:52] RELNO commented on #1
I don't need Z, so keep lat long as is. The two things to change : people (or any string) must be "string" and timestamp must be integers.
Lastly, create a longer simulation so I can improve my calibration of 3d model to sim

[2020-03-28 22:02] agrignard commented on #1
Should be fixed now

- people is a string

- loc is an int (however I think three.js should be able to deal either with int or float (can't you cast it? cityScopeJS is accepting a float no?

I only put 50 values for now (representing 50x2.5sec) but we can put more ones it's working

[2020-03-28 22:15] RELNO commented on #1
I can't find the JSON, did you pushed it somewhere else?

What is loc? What needs to be `int` is timestamp. This is not because we cannot cast `float` -> `int` but b/c the schema for this data should be using timestamps of seconds. Floats of seconds make less sense (milliseconds ?)

[2020-03-29 00:11] agrignard commented on #1
sorry not loc, timestamp.

I think it can make sense to have something like 1.2 sec (for instance to replay other simulation (not about human but faster process) but anyway for this it's not a big deal an int is enough and can actually save space

[2020-03-29 00:15] RELNO commented on #1
The issue with timestamps in float is that the tick of simulation function runs integer intervals [0,1,2....n]
So if we use non `int` values, it's not easy to match the sim tick to the time without slowing down the sim quite significantly => 1.2 * 10 = 12

[2020-03-29 01:39] RELNO commented on #1
https://github.com/CityScope/CSL_Paris/commit/2688ba9194bf4643376f7a61f1088557de824331 closes this. Still require larger JSON for alignments

[2020-03-29 01:39] #1 closed, assigned to nobody

[2020-03-29 11:19] agrignard opened #2 "Run the ChampScope"
Would it be possible to have a very short documentation on how to run the ChampScope? either in the wiki or the readme?

[2020-03-29 11:25] agrignard opened #3 "Model Spatial calibration"
Does having the lat,long of the 4 corners can help to calibrate?

This file represents the table bounds

https://github.com/CityScope/CSL_Paris/blob/master/ReChamp_Gama/includes/GIS/TableBounds.shp

The explosion concept why not but it seems that we don't have a proper way to match the 3D. Maybe the rotation is introducing some difficulty to map it?

[2020-03-29 17:59] agrignard commented on #2
after a npm install and start I get this error

[code]

[2020-03-29 18:35] #2 closed, assigned to nobody

[2020-03-29 18:48] agrignard opened #4 "Virtual CityScope Interface"
To reproduce what we have in the pavillon here are the principal parameter/toggle.

The simulation is made of 2 main modes: Paris Now and Paris in 2030.
For each mode we have a simulation representing:

- people, bike and car for "moving dot"
- Park and Cultural places for static building (they are basically more park and more cultural building in the future)

Then the road are represented thanks

[2020-03-29 18:50] agrignard commented on #4
For the moving dot @RELNO is it ok for you if we have 6 files:

people_now.json
bike_now.json
car_now.json

people_future.json
bike_future.json
car_future.json

[2020-03-29 18:51] RELNO commented on #4
- We'll implement the interface as UI on top of the screen, so no need for 3d model of this.
- 6 files are doable, but then it's x6 loaders / parsers passes. Can you produce 1 file for each scenario?

[2020-03-29 20:06] RELNO opened #5 "Simulation is distorted (is it in wgs84? )"
See 93d334b14b1e178b7f6a0514db19d6d748b39a12, the sim has what looks like Paris projection vs WGS84.

[2020-03-29 20:19] nayoub commented on #4
Sure, do you need a vector or raster file for the UI?

[2020-03-29 20:23] RELNO commented on #4
@nayoub not really, it will be done via simple HTML5 buttons

[2020-03-29 20:25] RELNO commented on #5
![Screen Shot 2020-03-29 at 16 24 41](https://user-images.githubusercontent.com/14296774/77859872-dabeca00-71d9-11ea-9d90-e1a2c137fac5.png)

[2020-03-29 21:19] agrignard commented on #4
If it's ok for you I think it will be more generic to have separate files, like you can almost see it as layers that will be activated or not thanks to the buttons, each file would be used to instantiate the agent corresponding to the layer. It might be a longer at the beginning to implement but much more flexible in the long run I think.

[2020-03-29 21:25] RELNO commented on #4
ok -- we can try split flies, let's see later if it creates serious overhead. For now, let's focus on #5 since I think it might be more challenging

[2020-03-29 21:36] agrignard commented on #5
this seems challenging indeed I really think the value should be read from the lat and long that are already projected modulo a conversion regarding the scale of your world and then the 3D model should adapt to this.

In _calcPosFromLatLonRad you try to make it to a 3D sphere but the value are already projected so I'm not sure it make sense to make this translation. I think it's more about finding

[2020-03-29 22:31] RELNO commented on #5
See https://github.com/CityScope/CSL_Paris/commit/d742c78c36ff30e5332e2577ebc81bd3a7d111c2, I've removed the spherical conversion, but the distortion seems to still be there

[2020-03-29 22:31] RELNO commented on #5
![Screen Shot 2020-03-29 at 18 31 13](https://user-images.githubusercontent.com/14296774/77862750-7d337900-71eb-11ea-9b6f-a90d7d59d7b3.png)

The position is still off, but it's close enough to show that the circles are actually ovals

[2020-03-30 02:51] RELNO commented on #5
![Screen Shot 2020-03-29 at 22 49 45](https://user-images.githubusercontent.com/14296774/77870559-baa9fd80-720f-11ea-9638-0548ab2c8064.png)

Fixed via Lat/Long in wgs84 to 2d conversion. still need to match scale, but on distortion.
For history sake: https://stackoverflow.com/questions/29761062/d3-mercator-geo-and-path-methods

[2020-03-30 08:55] agrignard commented on #5
I would keep it open, as it is still not matching (there is a mix of scale and rotation still)

What if you try to draw a rectangle of 3624x3043 on top of the table?
it should look like this
<img width="1121" alt="Screen Shot 2020-03-30 at 10 54 20" src="https://user-images.githubusercontent.com/3928502/77893908-d7c4e780-7274-11ea-9691-64a0a82d298e.png">

[2020-03-30 10:28] agrignard commented on #5
Also I think the current ratio is not exactly the same which has an impact on the mapping

What about keeping the real world dimension in the OpenGl World  I would then propose to replace this (I need to double-check if it's exactly this number but I'm 90% confident)
[code]
by
[code]
This is the size of the current model 1.57x92
 Also then the 3D model fits in this table with a margin of 1cm so th

[2020-03-30 12:32] agrignard commented on #5
This what I have with
[code]
no mercator projection and sending the 3D world from GAMA it's gettig close, just a question of rotation now and offset but I think the mapping is the good one without distortion
<img width="901" alt="Screen Shot 2020-03-30 at 14 28 52" src="https://user-images.githubusercontent.com/3928502/77912574-12d61380-7293-11ea-92d4-bc91321cec6a.png">

and
[code]
instead of
[cod

[2020-03-30 12:54] RELNO commented on #5
Did you produce a different JSON to get there? I mean, do you scale already in GAMA?  If so for me it's better, since it's less computation per agent

[2020-03-31 08:40] agrignard opened #6 "Export Building in a geojson but with GAMA coordinate"
In order to feed the WebGL simulation we need to store in a json (geojson) the parks and cultural so that it can be displayed.

So far the location of the agent this is what has been done in GAMA, first a transformation in WGS84, then a conversion in the GAMA world and then a scaling by 2000 to fit the "real world" , by real world I mean the table is 1/2000 scale.
[code]

I'd like to do the same f

[2020-03-31 08:45] agrignard commented on #5
Fixed in https://github.com/CityScope/CSL_Paris/commit/52c253ad605254f26ea5f22778f0b5594f43bedd

[2020-03-31 08:45] #5 closed, assigned to nobody

[2020-03-31 09:07] agrignard opened #7 "Enveloppe and bounds not totally aligned"
To reproduce

Just run ReChamp.gaml
Run ReChampPavillonn exp

Related to issue #3 we are trying to map exactly the WebGL world with the GAMA world however there are some approximation in GAMA that I don't understand.

The envelope of the world is supposed to be generated by the envelope of the table according to those lines

[code]

However when I draw the table bounds using this
[code]
The envelo

[2020-03-31 09:35] agrignard opened #8 "Load 3 differents trips layer"
Right now there is only one trips layer displayed.

The 3 trips file are produced now we need to see what is the best way to implement it.

I tried somethign yesterday but didn't work.

I would assume somethign like this

[code]

Then
[code]
The problem now is that _addAgents is recreating a list from stratch
[code]
so only the last call the _addAgents will be shown,

What about declaring a global

[2020-03-31 16:29] ptaillandier commented on #6
Can you test to just use something like this?
save pedestrian to: "pedestrian.geojson" type:json crs: "EPSG::2154";
save building to: "building.geojson" type:json crs: "EPSG::2154";

[2020-03-31 22:17] agrignard commented on #6
This work in the sense that it create it in the Lambert projection butthis is not waht I am looking for. i'd like to have them in the GAMA world (the world that goes from {0,0} to {world.Shape.width (=more less 3000m);world.shape.height(more or less 2000m)} like what to_GAMA_CRS is doing

[2020-04-01 05:49] ptaillandier commented on #6
Ok, you can update GAMA and test:
save pedestrian to: "pedestrian.geojson" type:json crs: "GAMA";
save building to: "building.geojson" type:json crs: "GAMA";

[2020-04-01 09:45] agrignard commented on #8
Cool. Can we differentiate the color per layer also?
In the current table here are the value:

[code]

[2020-04-01 09:49] agrignard commented on #6
Thank you @ptaillandier it's working on the  Gama Git version.

@RELNO I'll produce a park_before.geojson, park_after_geojson, cultural_before.geosjon, cultural_after.geojson

[2020-04-01 14:10] agrignard commented on #6
Ok the 4 files have been generated.

In the same mood as the agent they are in the right scale they just need to be rotated and translated like this

So it's basically parcing a geojson file and creating a polygon for each of them (I guess three.js as some native geojson parser?)

[code]

[2020-04-01 14:27] agrignard opened #9 "Display Park and Cultural before and after Geojson in WebGL"
Ok the 4 files have been generated here
https://github.com/CityScope/CSL_Paris/tree/master/champscope/GIS/park_cultural

In the same way as the agent have been produced they are in the right scale they just need to be rotated and translated like this
[code]

So it's basically parcing a geojson file and creating a polygon for each of them.

 I guess some native geojson parser in three.js will do th

[2020-04-01 14:37] RELNO commented on #6
I'm not sure what's the purpose of exporting shp => geojson. threejs has no native way to parse geojson, and in any case the city 3d model was parsed via qgis =>blender=> json (note, this is 3d json, not geojson).
If you want to try, there are some attempts to convert geojson to threejs: https://observablehq.com/@mbostock/geojson-in-three-js

[2020-04-01 14:41] agrignard commented on #6
The goal is to avoid using QGIS and Blender the data are already here in the right coordinate referential (like the agents)

I can also export them as .shp file to make the QGIS/Blender pipe?

I'll have a look at the geojson in Three.js

[2020-04-01 14:43] RELNO commented on #9
As mentioned in #6, there's no simple way to work with geojson in three. The agents are not geojson, but only a cluster of points with no relations between them.

[2020-04-01 14:47] agrignard commented on #6
.shp pushed here
https://github.com/CityScope/CSL_Paris/tree/master/champscope/GIS/Champ_GIS_buildings

[2020-04-01 14:47] RELNO commented on #6
See my comment on #9, unlike the parks, the agents are not geojson.

https://github.com/CityScope/CSL_Paris/tree/master/champscope/GIS/Champ_GIS_buildings

Thanks

[2020-04-01 14:48] agrignard commented on #9
Yep the geojson is just a way to store the geometry that can also be seen as a list of non related polygon

[2020-04-01 17:38] RELNO commented on #6
@agrignard maybe to save you some time: if you still want to parse your own geojsons, this guy did a first step https://codesandbox.io/s/geojson-to-3d-test-g24uy
But it might be a different story for irregular shapes & convexes

[2020-04-01 22:38] #8 closed, assigned to RELNO

[2020-04-02 09:01] agrignard commented on #8
Nice!

[2020-04-02 09:04] agrignard commented on #6
I close this issue as the export is done now the remaining part is to display them see #9

[2020-04-02 09:04] agrignard commented on #9
See
https://codesandbox.io/s/geojson-to-3d-test-g24uy
and
https://observablehq.com/@mbostock/geojson-in-three-js

[2020-04-02 10:45] agrignard commented on #9
I made an attempt here https://github.com/CityScope/CSL_Paris/commit/ba34f69705db425aed509d0855c78dca49e32a5b to integrate this code https://codesandbox.io/s/geojson-to-3d-test-g24uy but I am missing , something...

Seems to compile but not sure if the elements are really added to the scene.

I created a ThreeScene_Test_Arnaud.js to debug it

[2020-04-02 11:03] agrignard commented on #9
So 2 things here

1. parks_before.geojson is not exactly the same format as the cityTest.geojson (Polygon vs MultiPolygon) so the building are actually not added to the scene
2. however even when trying to display the cityTest.geojson (just change the file name) I cannot see them either

[2020-04-02 11:09] agrignard commented on #6
@ptaillandier the export now is working and creating a list of polygon in the geojson

I was wondering is it possible (I guess by creating a new geometry in GAMA that will aggregate all the building) to export it as one Multypolygon made of N coordinates list instead of N Polygon made of one coordinates list.

This is just in order to be compatible with another library that is waiting a multipolyg

[2020-04-02 11:24] ptaillandier commented on #6
You can try to make a union of all geometries
geometry big_geom <- union(building collect each.shape);

[2020-04-02 13:13] agrignard commented on #6
it's seems to create the good geometry but then

[code]

doesn"t work (it compiles but doesn't create the file)

[2020-04-02 13:44] agrignard commented on #7
Issue related to GAMA not to this repo

[2020-04-02 13:44] #7 closed, assigned to ptaillandier

[2020-04-02 16:35] agrignard opened #10 "Display Trips before and after"
Both before and after trips have been generated and tested here
https://github.com/CityScope/CSL_Paris/commit/447ddb0491af5f9a7bde0c723de34d9bab806dd7

They are store in this folder
https://github.com/CityScope/CSL_Paris/tree/master/champscope/src/trips

for now the timestamps goes from 0 to 100 (people_after is then 1.9Mb), let's see how long we ant to go.

Ones the integration is made with this

[2020-04-02 20:35] ptaillandier commented on #6
Why do you mean?
Because I tested this simple model  (with your building data) and it works (at least, a file is created):
[code]

[2020-04-02 20:35] ptaillandier commented on #6
Why do you mean?
Because I tested this simple model  (with your building data) and it works
(at least, a file is created):
[code]

Le jeu. 2 avr. 2020 à 15:13, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-04-03 09:02] agrignard opened #11 "Problem with GAMA Spatial Operator"
This is more a GAMA bug that maybe @ptaillandier wants to track to it.

I sometimes have an error (which is not always appearing). I put it here just in case it's something that can be fixed at the GAMA level. Not a big deal for this specific project as the exhibition is (well was..) running on a stable 1.8 version

So here is the error that sometimes appears at the init (should I post it on the G

[2020-04-03 09:12] agrignard commented on #11
If it can help it's happenning with this seed
0.5370140012590653

Not sure where it comes from here is the error from Eclipse

[code]

[2020-04-03 09:22] agrignard commented on #6
Yes it works. Thank you!

[2020-04-03 09:22] #6 closed, assigned to ptaillandier, agrignard

[2020-04-03 12:01] ptaillandier commented on #11
I was not able to reproduce the issue...
However, the issue seems to come from the line: target <- closest_points_with(r,target_place)[0];
Could you check that target_place is not nil?

[2020-04-03 20:02] RELNO opened #12 "Parks, cultural Shapefiles are in different scale / projection"
in the context of #6, the SHP files exported with parks, culture etc are in odd scale/projection. It look like they are scaled into the table scale **which should not be done outside of THREE**. Instead, these should be exported as the building layer was exported in `Champ_GIS_buildings` folder

[2020-04-03 20:03] RELNO commented on #12
![Screen Shot 2020-04-03 at 15 59 22](https://user-images.githubusercontent.com/14296774/78400386-990c9580-75c4-11ea-8388-c0ffa9fbcf45.png)

[2020-04-03 21:16] agrignard commented on #12
they are in WGS 84 but I can put them like the building so in lambert93 is this ok?

[2020-04-03 21:17] RELNO commented on #12
we can try, but is there also scaling involved?

[2020-04-03 21:20] agrignard commented on #12
no there is no scaling here it's pure .shp i just pushed with the lambert93 (same as building)

[2020-04-03 21:23] RELNO commented on #12
ok cool let's go with the right projection and see.

[2020-04-03 21:36] #11 closed, assigned to ptaillandier

[2020-04-07 07:48] agrignard commented on #12
I think this one is fixed? @RELNO I let you reopen this issue if it's not the case

[2020-04-07 07:48] #12 closed, assigned to agrignard

[2020-04-07 07:52] agrignard commented on #3
There is still a slight misalignment between the different layer. The agent are supposed to be in the middle of the champ for instance

<img width="1125" alt="Screen Shot 2020-04-07 at 09 51 22" src="https://user-images.githubusercontent.com/3928502/78643944-5e9d4400-78b5-11ea-833e-b5304c44cb8d.png">

[2020-04-07 07:56] agrignard opened #13 "Radar Plot Integration"
Integrate the Radar Plot.

There is 2 .Png representing the radar plot before and after here
https://github.com/CityScope/CSL_Paris/tree/master/ReChamp_Gama/includes/PNG/radar_plot
(001.jpeg and 002.jpeg)

In the ream room the Radar Plot (somethin like 3mx2m) are projected on the wall on the north side of the table

[2020-04-08 13:30] agrignard opened #15 "Drop in FPS and/or high load on GPU"
I just tested the new merge and there is a clear difference between the master before the merge and the current one.

Even with removing ````await _handelCityModel().then((model) => this.scene.add(model)),````

I don't see anymore the AN_DEV branche to see when the branches as been created to be able to compare both I think it was somewhere close to this commit
https://github.com/CityScope/CSL_Par

[2020-04-08 13:36] agrignard opened #16 "Z buffer fighting with different plane"
A common hard to solve a problem in OpenGL due to z-buffer and shape drawn on the same z-plane.
What about slightly changing the z value for park and make them a bit higher? It should do the trick?

<img width="865" alt="Screen Shot 2020-04-08 at 15 34 49" src="https://user-images.githubusercontent.com/3928502/78790270-91773300-79ae-11ea-94af-b7f8ed40b852.png">

[2020-04-08 13:45] RELNO commented on #16
Culture and parks are already in different z heights. The z of old parks vs new parks is still the same but could be changed

[2020-04-08 13:54] agrignard commented on #15
Mmm a bit hard to track, I am actually not sure how to test it... let's see on other computers what people though

I just tested with this
https://github.com/CityScope/CSL_Paris/commit/f99fea9b0dea3209fe4d7d3c4cd94c0c57adb954

it seems slightly better but it's not that obvious,

is there a way to write the FPS? Is it something available in the tools of the browser?

[2020-04-08 13:55] agrignard opened #17 "Produce larger file for Agent (1000 iterations)"

[2020-04-08 14:06] agrignard opened #18 "Parks and cultures wrong shape"
Original
<img width="1148" alt="Screen Shot 2020-04-08 at 16 01 12" src="https://user-images.githubusercontent.com/3928502/78793118-3fd0a780-79b2-11ea-991f-bc29a37c5efb.png">
webgl
<img width="1864" alt="Screen Shot 2020-04-08 at 16 00 38" src="https://user-images.githubusercontent.com/3928502/78793140-465f1f00-79b2-11ea-8f4e-e769bf048813.png">

Which might raise this issue on the spot #9 but let'

[2020-04-08 14:57] agrignard commented on #17
ok it's pushed the file are pretty big (around 10Mo) each so let's see how it behaves

[2020-04-08 17:29] LAAP commented on #13
How are we going to Show the radar in the virtual world? Maybe emerges only when exploring the table?

[2020-04-08 17:39] LAAP commented on #4
@agrignard Arnaud said that "To reproduce what we have in the pavillon" we need... Can we do things a bit different in the virtual world? Maybe we can have the "same thing than in Parish", + maybe trying to integrate more "exploration of the lawyers" (e.g. the Radar, the separate lawyers, some numbers from the simulation... )

[2020-04-08 17:44] LAAP commented on #18
I do not dislike that much the webgl rendering... It has a lack of accuracy in the shades, but if that can be fixed, then it is a bit playing with the "palette of colors". Can we play with it?

[2020-04-08 18:00] agrignard commented on #18
I was actually not speaking about the color ;-) (it's a too sensitive topics) but the shapes

[2020-04-08 18:06] agrignard commented on #13
@RELNO was also suggesting this, like on top of the table you mean? there also the option to have a kind of transparent wall. I can see if I can refind the AI file I think Nico might have it?

[2020-04-08 18:10] agrignard commented on #4
Sure as soon as the initial copy is finished we can make it better even;-) THough I personally thing the exercise here is to reproduce a physical space that already exists but sure we can take some freedom

[2020-04-08 18:40] LAAP commented on #18
In my opinion, shapes are OK, as a starting point.

[2020-04-08 21:03] agrignard commented on #18
@LAAP until you find your glasses today here is a zoom and a super zoom ;-)
original
<img width="1154" alt="Screen Shot 2020-04-08 at 22 57 36" src="https://user-images.githubusercontent.com/3928502/78833034-8216da80-79ec-11ea-836c-77f59f15eca9.png">
webgl
<img width="702" alt="Screen Shot 2020-04-08 at 22 58 21" src="https://user-images.githubusercontent.com/3928502/78833056-8cd16f80-79ec-11ea-81

[2020-04-08 21:29] agrignard opened #19 "Export Agent with the same position as on the real table"
Rigth now only the simulation position fo the agent is exported, but on the original display they are offsetted from the road network during the visualization process.

Original (car,bike and pedestrin are on different line)
<img width="487" alt="Screen Shot 2020-04-08 at 23 26 29" src="https://user-images.githubusercontent.com/3928502/78835408-69a8bf00-79f0-11ea-96e9-4237887292b8.png">

webgl (al

[2020-04-08 21:31] agrignard opened #20 "Display Agent on top of the park and culture"
Right now agent are displayed below the park

original
<img width="741" alt="Screen Shot 2020-04-08 at 23 29 30" src="https://user-images.githubusercontent.com/3928502/78835677-e176e980-79f0-11ea-9377-40e43aa92dde.png">
webgl
<img width="536" alt="Screen Shot 2020-04-08 at 23 29 38" src="https://user-images.githubusercontent.com/3928502/78835711-f05d9c00-79f0-11ea-8069-2e790e6ec940.png">

[2020-04-08 21:33] agrignard commented on #16
yes just the light green park a bit higher

[2020-04-08 21:34] agrignard commented on #15
close it for now

[2020-04-08 21:34] #15 closed, assigned to nobody

[2020-04-10 10:29] agrignard commented on #4
The interface is the following:

You have **one button that make you switch before and after** and then you **toogle on/off the display of the car, bike, pedestrain, park and cultural**.

I am not sure exactly what the current interface is doing. It looks like the toggle is for before and after for all of them, it should be on and off expect for the 2020/2040. As it is you can go in a weird config

[2020-04-10 10:37] agrignard commented on #18
I don't what is the process here to produce the shape and to fix them. Not sure if it makes sense to push all the difference but just in case here a some of them

<img width="339" alt="Screen Shot 2020-04-10 at 12 31 12" src="https://user-images.githubusercontent.com/3928502/78984781-66fcb580-7b27-11ea-912c-9ce65cbc5c16.png">

<img width="451" alt="Screen Shot 2020-04-10 at 12 36 23" src="https://

[2020-04-10 10:40] agrignard commented on #17
@RELNO
Is the last version using the long one?

[2020-04-10 10:44] agrignard opened #22 "Problem when pressing F5 in the virtual room"
To reproduce

[code]

On my browser (chrome Version 80.0.3987.163 (Official Build) (64-bit)) this is what I have after pressing F5. Then even if I rerun npm start i always get this page. I need to close the tabs and redo npm start.

<img width="1897" alt="Screen Shot 2020-04-10 at 12 40 40" src="https://user-images.githubusercontent.com/3928502/78985325-c7d8bd80-7b28-11ea-9667-d65909ea5a8a.png">

[2020-04-10 10:46] #20 closed, assigned to nobody

[2020-04-10 10:50] agrignard commented on #16
Seems to be fix for park and cultural but seems to appears with agent  on parks
<img width="207" alt="Screen Shot 2020-04-10 at 12 48 09" src="https://user-images.githubusercontent.com/3928502/78985754-d8d5fe80-7b29-11ea-99a0-8a3c6c4a606a.png">

[2020-04-10 10:51] agrignard commented on #10
In term of code it's done , then the way to trigger it is still WIP see #4

[2020-04-10 10:51] #10 closed, assigned to RELNO

[2020-04-10 14:11] RELNO commented on #22
cannot reproduce but try 18c875fcf248e707b9f72cd54eb3f841bd740beb and LMK

[2020-04-10 14:19] RELNO commented on #16
can you try and export all (city model, park, culture) at the same scale in either obj or gltf?  other possible import formats https://threejs.org/docs/#manual/en/introduction/Loading-3D-models

[2020-04-10 14:44] agrignard commented on #16
You mean for this specific issue or for a more general one ? The original one are all in shapefile format. (.shp or geojson) and the 3D model has been creating from this.

However I don't knwo which 3D model (city) you are actually using and what is the conversion process from the shp (park, culture) to the 3D object

[2020-04-10 15:15] agrignard commented on #22
Ok fix with this commit

[2020-04-10 15:15] #22 closed, assigned to nobody

[2020-04-10 15:23] RELNO commented on #16
so going back to what ( i hoped) would be a simple process became complex since exporting the city model from shp => three js is impossible with a corrupted shp file.
Qgis has a very simple plugin that does that exactly: https://plugins.qgis.org/plugins/Qgis2threejs/
However, the city model (buildings layer) is a mess and crashes the plug in and qgis when trying to export. So now, I'm forced to ex

[2020-04-10 15:26] RELNO commented on #18
see #16. this won't be fixed until we have one set of objects exported the same way.

[2020-04-10 15:27] RELNO commented on #16
BTW at this point it might be simpler to ask PCA for their rhino/3d max model and use that.

[2020-04-10 15:35] agrignard commented on #18
But City, Park and Cultural are exported in the same aren't they?

[2020-04-10 15:56] RELNO commented on #16
![Screen Shot 2020-04-10 at 11 55 32](https://user-images.githubusercontent.com/14296774/79004178-36664d00-7b22-11ea-9c81-b523bdc85d5e.png)
as an example, when selecting few buildings from that layer (here in purple) , the plugin has no issue. But some building/s (out of ~7000) are corrupted.

[2020-04-10 18:45] LAAP commented on #18
Do not get me wrong, I know that it is not "Perfect" rendering, However it is a fantastic starting point.

From my lack of knowledge, this reminds me a bit of my first years making 3Ds and exporting from AutoCad to 3D MAX. When using DWG format for exporting, some nodes where missing (exactly same effect than in this model), when using txt format, the exported file was working much better.  I Wond

[2020-04-10 21:41] agrignard commented on #16
ok let me see with @tnguyenh if we can export this in .obj from blender

[2020-04-10 21:54] tnguyenh commented on #16
Try the buildings.obj that I just pushed

[2020-04-10 21:57] agrignard opened #24 "Creating 3D Model obj from shp"
moving issue #16 here

@tnguyenh created a buildings.obj created from buildings.shp on blender (there still the building with holes to handle but at least we can check if it fits better

https://github.com/CityScope/CSL_Paris/tree/master/ReChamp_Gama/includes/GIS/obj

[2020-04-10 22:04] #24 closed, assigned to nobody

[2020-04-10 22:04] agrignard commented on #18
we are working with @tnguyenh that created a buildings.obj created from buildings.shp on blender (there still the building with holes to handle but at least we can check if it fits better

here
https://github.com/CityScope/CSL_Paris/tree/master/ReChamp_Gama/includes/GIS/obj

[2020-04-10 22:09] agrignard commented on #4
When triggering the interface I would keep it unless the user remove it. right now as soon as I click on the view (for instance to drag) the menu disapears

[2020-04-10 22:30] RELNO commented on #16
![Screen Shot 2020-04-10 at 18 28 34](https://user-images.githubusercontent.com/14296774/79027164-32a1ed00-7b59-11ea-9e64-a124207ef14a.png)

@tnguyenh thanks for helping with this -- what is the process you use for shp=>obj?
In the culture it looks like the Champs objects got offsetted

[2020-04-10 22:35] agrignard commented on #16
we use blender and we put an arbitrary depth for all the building, it's possible if needed with a bit of work to put the exact height

[2020-04-10 22:39] RELNO commented on #16
I don't talk about height, see the buildings on the main street, they are supposed to be straight no?
In blender, what is the process?
If you use this importer you'll soon see that convexes and holed objects are imported as separated objects so that you'd have to boolean by hand
![Screen Shot 2020-04-10 at 18 38 19](https://user-images.githubusercontent.com/14296774/79027501-777a5380-7b5a-11ea-800

[2020-04-10 22:54] agrignard commented on #16
"see the buildings on the main street, they are supposed to be straight no?" => which one?

[2020-04-10 22:55] agrignard commented on #16
https://github.com/CityScope/CSL_Paris/issues/18#issuecomment-612238635

[2020-04-10 22:57] RELNO commented on #16
in this image https://github.com/CityScope/CSL_Paris/issues/16#issuecomment-612246617
I've tested Tri's OBJ and it rendered the cultural objs in odd diagonal.

[2020-04-10 23:19] tnguyenh commented on #16
Why by hand ? Try the new buildings.obj.

[2020-04-10 23:21] tnguyenh commented on #16
still a few errors on some faces, working on it.

[2020-04-10 23:26] agrignard commented on #16
The odd diagonal is not the Champs Elysées it looks the same as on qgis
<img width="708" alt="Screen Shot 2020-04-11 at 01 26 11" src="https://user-images.githubusercontent.com/3928502/79029161-79acd400-7b93-11ea-9624-e0b96066a515.png">

[2020-04-10 23:54] tnguyenh commented on #16
It should be ok now... let me know if it does not work. Have fun :)

[2020-04-12 09:56] RELNO commented on #18
When loading `buildings.obj` it looks like only the yards are created
![Screen Shot 2020-04-12 at 05 54 49](https://user-images.githubusercontent.com/14296774/79065979-4dbc4c00-7c82-11ea-86bc-6ecd769e0e6f.png)
![Screen Shot 2020-04-12 at 05 55 37](https://user-images.githubusercontent.com/14296774/79065980-4dbc4c00-7c82-11ea-8e61-ee53ea66e232.png)

[2020-04-12 10:04] RELNO commented on #13
Radar plot should be recreated in English in a Illustrator / vector. There's no need to export the bar graphs. @nayoub @LAAP can you please help with this?

![1](https://user-images.githubusercontent.com/14296774/79066033-ae4b8900-7c82-11ea-9fd3-413f905d02c0.jpg)

[2020-04-12 15:08] tnguyenh commented on #18
OK I think I committed an intermediate version of the .obj and not the right one, the tall building-like objects should not be there and there shouldn't be any wall missing... try the current one...

[2020-04-12 15:09] tnguyenh commented on #18
However the shapes look odd... what programm do you use ?

[2020-04-12 15:11] tnguyenh commented on #18
It should look like that:

![image](https://user-images.githubusercontent.com/18676913/79072295-93a7fd00-7ce0-11ea-9714-6e2e51239beb.png)

Btw we should do a proper Arc de Triomphe...

[2020-04-12 16:35] RELNO commented on #18
THREEjs. What is the scale it's exported with? Does it already fit the table scale in meters?

I thought that's how it looks apres des gilets jaunes..

[2020-04-12 19:40] agrignard commented on #17
seems to be done

[2020-04-12 19:40] #17 closed, assigned to agrignard

[2020-04-12 19:41] agrignard commented on #4
This is fixed now, the toogle are doing the right thing. I close this issue to create more specific one if need

[2020-04-12 19:41] #4 closed, assigned to nobody

[2020-04-12 19:45] agrignard commented on #13
Also I know it's WIP but  just to remind to have the before and the after, when toggling 2020-2040

[2020-04-12 22:20] nayoub commented on #13
Sure, I can do an English version. @RELNO do you need an SVG file for the output?

[2020-04-12 22:45] RELNO commented on #13
Great thanks -- would be good to have the .ai so I could quickly iterate on line weights

[2020-04-13 13:31] agrignard opened #25 "white screen"
This is what I have this morning (after npm install & start) should I clear my cache or something like this?

<img width="1916" alt="Screen Shot 2020-04-13 at 15 29 53" src="https://user-images.githubusercontent.com/3928502/79124041-c6fb9200-7d9b-11ea-9e33-4aea68edfff1.png">

[2020-04-13 13:34] LAAP commented on #13
Thanks @nayoub !

[2020-04-13 13:43] agrignard commented on #18
I guess it's a question of scale. From what I know @tnguyenh imported it in blender and then exported it in a .obj

I would say that playing with this should be fine as 0.0005 is 1/2000?

[code]

@RELNO how does it look so far?

[2020-04-13 14:17] LAAP commented on #18
It is looking good. I agree with @tnguyenh , we need the real Arc de Triomphe

[2020-04-13 14:21] agrignard commented on #25
Now it stays here (maybe it's beacuse of my connexion however I m on 4G)

<img width="1912" alt="Screen Shot 2020-04-13 at 16 18 30" src="https://user-images.githubusercontent.com/3928502/79127603-7b98b200-7da2-11ea-8c3e-6e51443eef92.png">

[2020-04-13 14:27] RELNO commented on #18
There are a bit too many conversions, so I'll try to simplify:
Looks like Tri and I are doing the same (qgis shp => blender using GIS import => JS). This is how I got the city model in the first place, so I don't see a difference.
What I still need is that all the other layers will be exported exactly the same way and in the same scale. So that when I import, I can use one scale/location for all i

[2020-04-13 14:42] agrignard opened #26 "Deploy Virtual Champs on a website"
To start the test with different people, what about deploying it so we can give link to the more people to have their feedback?

@RELNO how difficult is it to point this GitHub to the virtual experiment?

[2020-04-13 14:45] agrignard commented on #18
The parks and culture have not been created yet as we need first to fix the 3D city model no?

[2020-04-13 17:49] tnguyenh commented on #18
Hi guys, I don't really understand where is the problem since I haven't followed the story from the beginning. Right now it is clear that there is a problem with the final render:

As far as I can see, (1) the buildings shapes are odd, some vertices and faces are missing, holes haven't been processed correctly and (2), maybe there are some surfaces overlapping (same z), like the parks on Champs El

[2020-04-13 17:56] RELNO commented on #18
@tnguyenh thanks, let's find a few minutes to skype/zoom/fax about it?

[2020-04-13 17:57] tnguyenh commented on #18
Yes ok !

[2020-04-14 07:35] agrignard commented on #19
Seems to work pretty well!

[2020-04-14 07:35] #19 closed, assigned to agrignard

[2020-04-14 07:36] #25 closed, assigned to nobody

[2020-04-14 07:42] agrignard commented on #16
I close this issue as it has drifted from its initial issue (z-fighting which is fixed see #18 for more information)

[2020-04-14 07:42] #16 closed, assigned to nobody

[2020-04-14 07:43] agrignard commented on #9
Won't be adressed in this version

[2020-04-14 07:43] #9 closed, assigned to RELNO

[2020-04-14 15:02] agrignard opened #27 "Color Schema"
To make the table more readable (and to keep the initial designed that also has a kind of french touch)

I would replace the green color for bike by blue. Now Park and bike are the same color

Then for the cultural white was used (it should pop up pretty well on the 3D model which is more gray)

[2020-04-15 13:13] RELNO commented on #3
closing this in favor of focusing #18

[2020-04-15 13:13] #3 closed, assigned to nobody

[2020-04-15 13:17] RELNO commented on #13
@nayoub  @LAAP  to do:
- make before after radar in english
- make highlighted radar for each segment (the change in cars/parks/cultures/ etc..)

clean up and make more readable

[2020-04-15 13:18] RELNO commented on #18
To do: @tnguyenh @agrignard @RELNO to meet and export all layers at the same scale/rotation/z-height.

[2020-04-15 13:21] RELNO opened #28 "Agents 'explode' on init"
in last version of sim, certain agents (most visible with pedestrians) have unrealistic behavior of aggregation and 'explosion'. since it's very short sim, agents should spawn from the middle of their trips.

[2020-04-15 13:24] RELNO opened #29 "Add on screen stats for few sec on layer change"
Show div with icon + metadata on the current layer activated by the toggles
![Screen Shot 2020-04-15 at 09 24 29](https://user-images.githubusercontent.com/14296774/79342291-eceb7880-7efa-11ea-9567-4bfbf114db3b.png)

[2020-04-15 13:25] RELNO commented on #29
@agrignard is there somewhere I can get the before/after stats for each layer?

[2020-04-15 13:27] RELNO opened #30 "Select camera position in POIs"
Have a selector for different views. @agrignard what are the 3-5 most important POIs to focus to?

[2020-04-15 13:29] RELNO opened #31 "arch de triumph"
in the context of #18, https://free3d.com/3d-model/arc-de-triomphe-60285.html can replace the current headless version..

[2020-04-15 13:30] RELNO opened #32 "arch de triumph"
in the context of #18, https://free3d.com/3d-model/arc-de-triomphe-60285.html can replace the current headless version..

[2020-04-15 13:35] RELNO commented on #32
Now that GH is free, hiccups are more common :/

[2020-04-15 13:36] LAAP commented on #13
We can do this, @nayoub Let's coordinate

@RELNO , the 2nd point. "make highlighted radar for each segment (the change in cars/parks/cultures/ etc..)"
Not sure if we are talking about:

A- Making specific radar per segment (not sure yet how to do it: Energy bar, or similar),

B - or showing how the radar is changing (growing or shrinking) in each segment, one by one... Kind of a GIF image

[2020-04-15 13:36] RELNO commented on #30
One view should be top/plan view

[2020-04-15 13:38] RELNO commented on #13
@LAAP  most likely B -- the idea is that we can show the specific impact of a layer on a certain segment of the radar -- so if you toggle the cars, only cars-related radar edges/nodes are highlighted.

[2020-04-15 13:44] LAAP commented on #13
Ok. Makes sense. So all the rest axes are staying as it is today, and we only show the spike that is changing when we toggle it.
@nayoub , can you share with me the last Ps version? I can do all of this

[2020-04-15 13:48] RELNO commented on #13
for @RELNO records: https://stackoverflow.com/questions/45761324/animate-between-two-materials-on-a-mesh-three-js

[2020-04-15 13:56] nayoub commented on #13
Ok noted, thanks! @LAAP I can send you the illustrator file, but I need to make a few adjustments first

[2020-04-15 13:58] RELNO commented on #13
@nayoub please make sure to keep square aspect ratio, similar to

[2020-04-15 13:59] nayoub commented on #13
Sure, I will keep the same artboard. Do we still have our call at 10?

[2020-04-15 14:00] RELNO commented on #13
Yes. 10ish ¯\_(ツ)_/¯

[2020-04-15 14:02] LAAP commented on #13
Awesome @nayoub !

[2020-04-15 14:05] agrignard commented on #30
I would say
arc de triomphe
<img width="997" alt="Screen Shot 2020-04-15 at 16 02 52" src="https://user-images.githubusercontent.com/3928502/79346460-b3366400-7f32-11ea-9251-4253bea20bd8.png">
One part of the ChampsElysées street
<img width="1199" alt="Screen Shot 2020-04-15 at 16 03 02" src="https://user-images.githubusercontent.com/3928502/79346488-bc273580-7f32-11ea-9498-a87d25936eec.png">
betw

[2020-04-15 14:05] agrignard commented on #30
and what could be great but i guess it's more work is to propsoe a "journey" with an animated cam that goes from POIs to POIS

[2020-04-15 14:08] agrignard commented on #29
All the available metrics have been summurize in the radar plot (though we don't have the exact value printed (and Luis did a normalization also)
before
https://github.com/CityScope/CSL_Paris/blob/master/ReChamp_Gama/includes/PNG/radar_plot/radar_plot.001.jpeg
after
https://github.com/CityScope/CSL_Paris/blob/master/ReChamp_Gama/includes/PNG/radar_plot/radar_plot.002.jpeg

[2020-04-15 14:09] tnguyenh commented on #18
OK, I think I've understood what is the problem. I exported to .obj and vizualised it, and the mesh wasn't clean. Try the new version, the problem should be solved now.

The reason is that most programs don't support non-convex polygons (but blender does). So the solution is just to split non-convex polygons in blender.

[2020-04-15 14:10] RELNO commented on #29
@agrignard can you / @LAAP summarize these with numbers? "Cars %20 reduction" "bikes %15 Grow" etc. It's not super clear from the chart

[2020-04-15 14:13] agrignard commented on #18
so this one has been updated
https://github.com/CityScope/CSL_Paris/blob/master/ReChamp_Gama/includes/GIS/obj/buildings.obj

[2020-04-15 14:13] LAAP commented on #29
Sure. I will do that

[2020-04-15 14:16] tnguyenh commented on #18
yep

[2020-04-15 14:54] RELNO opened #33 "test transparent buildings"

[2020-04-16 18:20] nayoub commented on #13
@RELNO committed an english version of the before/after just for first implementation.
Sorry forgot to PR. You'll find .ai + jpg exports in the radar folder in textures.
Let me know if anything should be changed before we export the other ones (cars, pedestrian, nature, etc).

[2020-04-16 18:28] RELNO commented on #13
@nayoub I see a revert on your commit, are you still working on it?

[2020-04-16 18:30] nayoub commented on #13
No the revert was to PR but it removed the files on my mac so I re-reverted ;)

[2020-04-18 17:31] RELNO commented on #18
@agrignard does `CSL_Paris/ReChamp_Gama/includes/GIS/obj`holds the last version? there's only buildings and culture

[2020-04-18 17:53] RELNO commented on #33
![Screen Shot 2020-04-18 at 13 34 04](https://user-images.githubusercontent.com/14296774/79645215-e9b2ef80-817b-11ea-817a-c75ecec52273.png)

results add noise, tried multiple variations

[2020-04-18 17:53] #33 closed, assigned to nobody

[2020-04-18 17:53] RELNO commented on #31
any update on this?

[2020-04-18 17:54] RELNO commented on #28
@agrignard is there an updated sim file?

[2020-04-18 18:47] RELNO commented on #26
a placeholder `gh-pages` now exist. Please make sure not to remove it as I test ML subdomain redirecting.

[2020-04-18 20:03] #32 closed, assigned to agrignard, tnguyenh

[2020-04-18 20:05] RELNO commented on #27
![Screen Shot 2020-04-18 at 14 22 00](https://user-images.githubusercontent.com/14296774/79670061-30114a00-818e-11ea-927e-01f025a4ea6f.png)

White does not work well, even when the city model was reduced to 30%
I'd suggest to use these for now
![Screen Shot 2020-04-18 at 16 04 25](https://user-images.githubusercontent.com/14296774/79670070-49b29180-818e-11ea-9997-bab960002ebd.png)

[2020-04-18 20:06] agrignard commented on #18
yes bulding.obj is the last version, to test if it works, if it works then we'll do the cultural and park but we don't know yet if it s worth spending time on that. Can you visualize this one?

[2020-04-18 20:07] agrignard commented on #27
Good joke the pink but no way!

[2020-04-18 20:08] RELNO commented on #27
you'll get use to that, trust me!

[2020-04-18 20:09] agrignard commented on #27
Are you sure you're not using some alpha?  iI see this in the code
[code]

the white of the pedestrain is white isn't it?

[2020-04-18 20:10] agrignard commented on #27
No I am serious there won't be any pink in this project;-)

[2020-04-18 20:11] RELNO commented on #27
no. #fff7 is just the button color.

[2020-04-18 20:13] RELNO commented on #13
@LAAP can you share the numerical values of change for each of the 5 categories?
![Screen Shot 2020-04-18 at 16 13 31](https://user-images.githubusercontent.com/14296774/79670245-9054bb80-818f-11ea-861a-0ca33fde5f2e.png)

[2020-04-18 20:14] agrignard commented on #27
mm I see but the white pedestrian is pretty white no?

[2020-04-18 20:19] RELNO commented on #27
the peds are practically GL lights, so it's different rendering. If we go with white light on the cultural buildings, it will be flat like this
![image](https://user-images.githubusercontent.com/14296774/79670369-5d5ef780-8190-11ea-8407-818f2048a651.png)

[2020-04-18 20:21] agrignard commented on #28
Yes I wil udpate it

[2020-04-18 20:33] RELNO commented on #18
![Screen Shot 2020-04-18 at 16 31 25](https://user-images.githubusercontent.com/14296774/79670573-1245e400-8192-11ea-8ed0-04638247838e.png)

the city model cannot be loaded, it's either has corrupt edges or its scale is too large/small acceptable.  @agrignard @tnguyenh I again ask that we do a quick call on this as it's one of the last issues we need to solve before deployment

[2020-04-18 21:36] RELNO commented on #13
closing on https://github.com/CityScope/CSL_Paris/commit/5aafb86ba0230839ffaf64dadc73f5d16d4cea09

[2020-04-18 21:36] RELNO commented on #29
@LAAP can you share the numerical values of change for each of the 5 categories?

![image](https://user-images.githubusercontent.com/14296774/79671781-20e4c900-819b-11ea-80db-cea00a9a2f99.png)

[2020-04-19 16:27] tnguyenh commented on #18
Hi Ariel, I started the process again from the start, to be sure that I didn't leave any problem at any step. What scale do you need ? Try those 4 .obj files. 2 are scales by 1/2000. Buildings_simple*.obj are without holes to see if the problem comes from that.

[2020-04-20 08:25] agrignard opened #34 "Disable rotating camera in settings"
Having a button (as it was before) to disable to camera rotation (it's good to keep it by default by quickly the user will want to use the cam). Right now ones need to select one of the scene to then be able to use the cam

[2020-04-20 08:32] agrignard opened #35 "Bigger toggle for present and future"
As discussed in one of the last critic session, I think it's important to have a bigger way to toggle the present and future (called 2020 and 2040). Right now it's at the same hierarchy of the rest.

Suggestion:

Move the display settings (design metrics, toggle 3D) to settings, and move information on the bottom right near the cityscience logo

[2020-04-20 08:48] agrignard opened #36 "People from 2040 are loaded intially"
Initially, the 2040 layer is shown loaded (at least for people) whereas it should be the 2020 mode. Then when you toggle it's fine.

[2020-04-20 09:34] agrignard commented on #28
fixed in https://github.com/CityScope/CSL_Paris/commit/4688bfa0edc896dcd4a872e92cbbdd99066ed528

[2020-04-20 09:34] #28 closed, assigned to agrignard

[2020-04-20 09:37] agrignard commented on #27
<img width="194" alt="Screen Shot 2020-04-20 at 11 30 31" src="https://user-images.githubusercontent.com/3928502/79737016-fd389480-82fa-11ea-8f1a-ecf33adb1abe.png">
Ccolor of the pedestrian needs  to be white in the legend (kind of french flag).

Can we make a try in white for the cultural and change it in the legend and on the display. As cultural attracks pedestrain (they are the one that stops

[2020-04-20 09:40] agrignard commented on #26
What is the temporal url ? So that they can integrate it in the webste and test? Then they will change (can be done later) to the final url

[2020-04-20 09:43] agrignard commented on #18
@RELNO if you can have a look at the new 4 files generated by @tnguyenh ?

 If it works that great, if not we will need to see how to manually (by playing with rot and postion on the three.js cde) aligned all of them. Especially Agents andCity are particuraly misaligned (https://github.com/CityScope/CSL_Paris/issues/3)

[2020-04-20 09:45] agrignard commented on #31
Not sure how to solve that, once #18 is fixed we can see with @tnguyenh how to regenerate it with a better arc de Triumph

[2020-04-20 12:26] RELNO commented on #26
http://rechamp.media.mit.edu/

[2020-04-20 12:30] agrignard commented on #26
It's not the same version as the current master isn't it?

[2020-04-20 14:15] RELNO commented on #18
@agrignard I'm not sure which one you're referring to, there are multiple versions of the same file:
<img width="160" alt="Screen Shot 2020-04-20 at 10 13 15" src="https://user-images.githubusercontent.com/14296774/79761520-92ce2700-82ef-11ea-9306-b37876047d20.png">

@tnguyenh to save some time, can you please use https://threejs.org/editor/ to test the models? If it loads well (scale, shapes, loc

[2020-04-20 14:30] agrignard commented on #18
"""Hi Ariel, I started the process again from the start, to be sure that I didn't leave any problem at any step. What scale do you need ? Try those 4 .obj files. 2 are scales by 1/2000. Buildings_simple*.obj are without holes to see if the problem comes from that."""

so building_scaled is scaled (reduce to 1/2000) , building_simple is without hole and building is not scaled.

I think you want to

[2020-04-20 14:33] RELNO commented on #18
@agrignard if you test `buildings_scaled` on https://threejs.org/editor/  you'll see large offset. Then we should test it with other layers to see they all load at the same location

[2020-04-20 14:46] agrignard commented on #18
Not great indeed in the three.js tool

According to @tnguyenh it's ok in blender and in in the default windows .obj. So it seems that the export in blender is not compatible with the way Three.js is parsing it

[2020-04-20 14:49] agrignard commented on #18
building_simple.Obj seems to work ?
<img width="1518" alt="Screen Shot 2020-04-20 at 16 48 26" src="https://user-images.githubusercontent.com/3928502/79765432-e871f600-8326-11ea-89ce-6d04dd2b15c4.png">

[2020-04-20 14:53] LAAP commented on #29
Ok, here is a "possible interpretations" for the stats that we will show. Since we have decided to show only 5 indicators, some other stats related to this 5 will be out of the visualization. Please let me know your thoughts (I have made also a pull request with the CSV file):

---

AFTER |   |   |   |  
-- | -- | -- | -- | --
  |   |   |   |  
CS Indicator | PCA deffinition |   |   |  
  |   |  

[2020-04-20 14:56] agrignard commented on #18
waht about this one (.stl)?
https://github.com/CityScope/CSL_Paris/blob/master/ReChamp_Gama/includes/GIS/obj/buildings.stl

[2020-04-20 14:56] RELNO commented on #29
let's keep it open till it's implemented.
Can you explain

Before:
CULTURE | Augmented offer | 26 |   | 333% ?

What eventually is needed is a something like:
2020 - 25% more car emision

[2020-04-20 14:57] RELNO commented on #18
building_simple.Obj is ok, can you test how other layers fit on this one? If they fall in the right place/scale we can use that

[2020-04-20 14:59] tnguyenh commented on #18
Can you use stl ? It looks better... buildings.stl is working fine with your link, and has a better mesh than buildings_simple. you just need to scale it, rotate it and maybe translate it.

![image](https://user-images.githubusercontent.com/18676913/79766464-4f43df00-8328-11ea-952b-55ad85d426b5.png)

[2020-04-20 15:05] RELNO commented on #18
@tnguyenh thanks, before I rewrite my importer, can you please export the parks and culture and see if they fall in the right position as the city model?

[2020-04-20 16:23] tnguyenh commented on #18
It should be fine now, try the 5 .stl files. You may have to rotate by -90 along x axis, and scale it.

![image](https://user-images.githubusercontent.com/18676913/79775086-0134d880-8334-11ea-993d-855ad1fbf933.png)

[2020-04-20 16:39] LAAP commented on #29
We are visualizing PCA stats.

In terms of culture, the PCA doesn't have cultural elements 'per se', so I have use the the augmente offer of amenities (Mostly in restauration). I suggest to change the name from culture to "Usage" or "Amenities" or "Restauration":

<img width="1440" alt="stats1" src="https://user-images.githubusercontent.com/19315213/79775756-b64e9d00-8302-11ea-90fe-bd472824b403.pn

[2020-04-20 17:17] RELNO commented on #29
Ok, so can you
-  create a ~3-4 word sentence for each one of the 2040 layers that shows the gain/improvement
(i.e car layer: 35% reduction in cars)
-  create a ~3-4 word sentence for each one of the 2020 layers that shows the problems/issues of today (i.e on car layer: 10000 hours of traffic jams a year)

[2020-04-20 19:50] LAAP commented on #29
Ok, here is the new stats.
Please let me know your thoughts. also, if @nayoub @Markus could help with the "typos", it could be great:

2020 |  
-- | --
  |  
Layer | Sentence
  |  
Car   layer: | 33% car based mobility and 318   670 gCO2/Km
Pedestrian   layer: | 60% pedestrian mobility and 257   000m² of Pedestrian pathwalk.
Bikes  layer: | 2% bike based mobility and 10   250 vehicles/h
Parks   la

[2020-04-20 20:23] RELNO commented on #29
@LAAP great!

[2020-04-20 20:58] LAAP commented on #29
Ok. So I am closing the issue

[2020-04-20 20:59] RELNO commented on #29
I'm using this as a to-do list, so please wait till this is implemented. Thanks!

[2020-04-21 00:25] RELNO commented on #34
closed @ https://github.com/CityScope/CSL_Paris/commit/dd09786689125a6202e1c58a3311f808b316573c

[2020-04-21 00:30] LAAP commented on #13
Hi Guys I am reopening this issue: @RELNO @agrignard @nayoub, I have made an iteration with the potential rada per "tag". Please, let me know your thoughts:

1) Cars 2020-2040:

![Radar_Plot_EN-CAR2020](https://user-images.githubusercontent.com/19315213/79811855-21b95e80-8345-11ea-9796-ddfccad9f5d4.jpg)

![Radar_Plot_EN-CAR2040](https://user-images.githubusercontent.com/19315213/79811889-40b7f080-

[2020-04-21 00:37] LAAP opened #38 "Issue in the Radar Spike related to cars"
@nayoub and @agrignard

I have realised that there is a modification in the radar related to the Spike of the cars. Basically it doesn't change form 2020 to 2040. In my radar made in Lyon, it was like this:

![200130_Radar_Urban_Indicators_Champs_Elise_R](https://user-images.githubusercontent.com/19315213/79812299-845f2a00-8346-11ea-8cf2-9958aff1b43e.jpg)

And now, it is like this:

![200130_Radar

[2020-04-21 00:46] RELNO opened #39 "Add splash screen + info modal text"

[2020-04-21 01:35] RELNO commented on #18
@tnguyenh thanks -- I gave it a shot but I think we'll stop here.  It's simpler to hand fix the mismatching.

- STL is internally parsed as a huge object (~190mb) so their effect on heap-mem is significant
- STL has a different loading process and geometry handling which at this point will incur too much refactoring.
- the city STL has no building height z axis but only one height, see image
![Scr

[2020-04-21 08:20] agrignard commented on #29
Ok great! @LAAP do you have all this map with the percentage before and after? If not I can reask it to PCA.
The number looks ok I am but curious abotu this one
[code]
but maybe

[2020-04-21 08:24] agrignard commented on #34
I can see the animate camera button but it doesn't seem to work on mine

<img width="257" alt="Screen Shot 2020-04-21 at 10 23 12" src="https://user-images.githubusercontent.com/3928502/79843187-35eb7300-83ba-11ea-85db-0e86c1c78b97.png">

[2020-04-21 08:25] agrignard commented on #26
How do I access to the gh-pages? I guess it's in the branch https://github.com/CityScope/CSL_Paris/tree/gh-pages but how do we access it from outside with a simple url?

[2020-04-21 08:34] agrignard commented on #38
@LAAP I don't think you are lokking at the radar that are displayed in the exhibition.

The last and only one (that were indeed modify as there was this error are this one)
<img width="1651" alt="Screen Shot 2020-04-21 at 10 31 42" src="https://user-images.githubusercontent.com/3928502/79844026-6849a000-83bb-11ea-8e95-3681d8fceb0e.png">
<img width="1653" alt="Screen Shot 2020-04-21 at 10 31 36" sr

[2020-04-21 08:36] agrignard commented on #18
Ok so do we align them by "hand" in the code? Looking at the deadline I think it's safer to do it by hans and the results might look the same

[2020-04-21 08:44] agrignard commented on #13
@LAAP I am afraid you are not using the right radar... See issue #38

[2020-04-21 08:53] agrignard commented on #27
Are we converging on this? I see some iteration made on the radar with some colors related to this scheme, which cannot be the final one

[2020-04-21 09:15] agrignard commented on #26
I cannot access to the cityscope table on the current version of this
http://rechamp.media.mit.edu/

It stays on the first page

[2020-04-21 11:38] tnguyenh commented on #18
Because you are looking upside down. Rotate by 180 and I think you will have the proper height.

[2020-04-21 13:29] LAAP commented on #29
@agrignard, I am using directly the Numbers from PCA:

<img width="1440" alt="Captura de pantalla 2020-04-21 a las 9 03 19" src="https://user-images.githubusercontent.com/19315213/79871557-84950f00-83b2-11ea-94cb-b33559e56546.png">

Zoom:

![Sin título](https://user-images.githubusercontent.com/19315213/79871596-937bc180-83b2-11ea-9ca4-9946de93a18e.png)

[2020-04-21 13:31] agrignard commented on #29
OK cool if you have this map, it's then their number

[2020-04-21 13:34] LAAP commented on #29
Yes, as I said yesterday to @RELNO , We are not making calculations, we are just visualizing the PCA data

[2020-04-21 13:48] LAAP commented on #38
Hi @agrignard , That is the french version, the English version is in:

https://github.com/CityScope/CSL_Paris/blob/master/champscope/public/resources/textures/radar/Radar_Plot_EN.ai

And it has this spike issue that I am mentioning

@nayoub , please, can you help me with it?

[2020-04-21 13:51] LAAP commented on #13
@agrignard , as commented in issue [#38](https://github.com/CityScope/CSL_Paris/issues/38), I am using the english version:

https://github.com/CityScope/CSL_Paris/blob/master/champscope/public/resources/textures/radar/Radar_Plot_EN.ai

In any case, please, can you tell me your opinion about the radars? Should I keep working on it as soon as @nayoub fixes the English version of the radar or not?

[2020-04-21 13:53] nayoub commented on #38
Yes I took the wrong version, so sorry.
I just pushed the good one (Radar_Plot_EN_Expo.ai)

[2020-04-21 13:56] nayoub commented on #13
@LAAP I just pushed the good one, I commented on issue #38. So sorry about that.

[2020-04-21 14:39] LAAP commented on #13
Thanks @nayoub!
To @all , Should I update this radars or not?

[2020-04-21 14:39] LAAP commented on #38
Ok. Thank you @nayoub
Now I am closing this issue

[2020-04-21 14:39] #38 closed, assigned to LAAP, nayoub

[2020-04-21 14:59] agrignard commented on #30
Problem with Some point of"Avenues Champs Elysées" and "Place de la Concorde" point of view comapre to what has been proposed

Champs Elysées (the goal is to see at the level of the street what is the impact)
<img width="1623" alt="Screen Shot 2020-04-21 at 16 55 54" src="https://user-images.githubusercontent.com/3928502/79881085-158adb00-83f1-11ea-9f2c-5ecf884d2d77.png">
Concorde (to see the chan

[2020-04-21 15:08] agrignard commented on #13
I don't understand what you mean by update (you mean with different color per mode)? And to be hosnest I am a bit lost in the different version of radar and I lost a bit track of the integration. I see different radar in the issues and in the working version.

This
<img width="884" alt="Screen Shot 2020-04-21 at 17 07 27" src="https://user-images.githubusercontent.com/3928502/79882331-b29a4380-83f

[2020-04-21 16:55] LAAP commented on #13
Hi @agrignard ,

Regarding Issue [#29](https://github.com/CityScope/CSL_Paris/issues/29), I think that it "is closed", but @RELNO wants to keep it open just in case. I have already answer to your questions, however, please, let me know if you have any further question.

Update in the Radar is:
1- @nayoub has made a translation to English (it is in ReChamp. @nayoub , can you move it to CSL_Paris, p

[2020-04-21 17:27] nayoub commented on #13
**Just to confirm:**
The last version of the Illustrator file is **Radar_Plot_EN_Expo.ai**, it was pushed 2hours ago.
But I always pushed in CSL_Paris, technically nothing should be in ReChamp (as the folder "champscope" doesn't even exist on that repo).
I can also make any adjustments if needed :)

[2020-04-21 17:57] RELNO opened #40 "Don't merge to Master without PR"
All -- As asked before, **please do not merge to `master` without PRs**, at the very least not to `campscope` folder. PRs are the only way for me to see what changed and what might cause issues in other parts of the app that are not related to your push.

[2020-04-21 19:48] tnguyenh commented on #18
Try the .obj. It is just a conversion from .stl to .obj, it's working fine on threejs website.

[2020-04-21 21:09] agrignard commented on #13
For this one https://github.com/CityScope/CSL_Paris/issues/29 I don't think it's closed. I don't see the text when we change the layer.

For the tag I let you decide it might involved some extra work to integrate it so up to you

[2020-04-21 21:11] agrignard commented on #27
OK i don't see the point of arguing alone here

[2020-04-21 21:11] #27 closed, assigned to RELNO

[2020-04-21 21:12] #26 closed, assigned to nobody

[2020-04-21 22:30] LAAP commented on #13
Thank you very much @nayoub , I don't get either the confusion with repos, but it was pointed by @agrignard in a whatsapp, so I have added here. I am following you, and I am not even pushing anything yet.

To @ALL, If you are not interested in "tag radars" that is fantastic, so I can move into other things

[2020-04-22 13:26] nayoub opened #41 "Text typos and credits in the home page"
I imagine that the text is not final but I noticed some typos, corrected below:

**Exhibition** in Pavillon de l'Arsenal

[2020-04-22 18:16] RELNO commented on #41
@nayoub thanks

[2020-04-22 18:16] #39 closed, assigned to nobody

[2020-04-22 18:21] RELNO commented on #27
@agrignard if you clone this one https://github.com/CityScope/CSL_Paris/blob/a33d24ca68448e57815719d551b1a260102d6ee4/champscope/src/settings.json
you can test the white version -- I don't mind which color we end up with, but white disappears in the ~gray b/g

[2020-04-22 18:29] RELNO commented on #18
![Screen Shot 2020-04-22 at 14 28 43](https://user-images.githubusercontent.com/14296774/80019487-973c4080-84a5-11ea-8232-97f81b526feb.png)
no perfect but closer

[2020-04-22 18:29] RELNO commented on #18
will dive into the new stl/obj in the next version

[2020-04-22 20:08] agrignard commented on #27
I tried with this settings.json
it's a blue version no?
<img width="937" alt="Screen Shot 2020-04-22 at 22 06 56" src="https://user-images.githubusercontent.com/3928502/80028593-a3e08900-84e5-11ea-8cd9-5f581d0385b1.png">

[2020-04-22 20:11] RELNO commented on #27
sorry, yes -- change to:

[code]

[2020-04-22 20:16] agrignard commented on #27
Indeed the white is not white.

[2020-04-22 20:45] agrignard commented on #41
Exh**a**bition in Pavillon de l'Arsenal -> Exh**i**bition

Also the credits in the home page should be updated with the same one as the one if the information of the virtual CityScope (I don't think we should mention PCA) and the cityscope is developped by and Gama is developed by doesn't have to appear on the main page it will be too long

<img width="538" alt="Screen Shot 2020-04-22 at 22 44 57"

[2020-04-23 08:00] #35 closed, assigned to nobody

[2020-04-23 08:03] agrignard commented on #40
I don't see it either as an issue nor as a bug (and I see it more as an issue to collaborate, you can always track change by looking at the commit isn't it instead of requesting a PR for each change).

[2020-04-24 20:56] #29 closed, assigned to LAAP

[2020-04-25 20:44] #41 closed, assigned to nobody

[2020-04-25 20:46] agrignard commented on #36
@RELNO can you have a look at this?

It might be just a question of init? when we toggle is fine but just the first time the 2040 layers are displayed wheras it says we are in 2020. .

[2020-04-26 22:30] RELNO opened #44 "pedestrian simulation is fixed in some point (0,0 ?)"
<img width="196" alt="Screen Shot 2020-04-26 at 18 29 02" src="https://user-images.githubusercontent.com/14296774/80321553-df33ce00-87eb-11ea-9090-f56dd035cef7.png">

looks like some agents are stuck outside the table area

[2020-04-27 09:12] agrignard commented on #44
very weird... isn't it related to #36 ? It appears only during the first round on the simulation then it disappears ones the first simualtion is finished, I don't think it's in the json file

[2020-04-28 13:58] agrignard commented on #30
Concorde from the top
Grand Palais north facing

[2020-04-28 14:49] agrignard opened #45 "Align people in the middle of the champ"

[2020-04-28 14:53] agrignard opened #46 "Problem with Selected views"
Check any selected view (Champs for instance)

The cam goes in the right place but then when the user unscroll to dezoom the camera goes to another location. It should stay where it is and let people zoom or unzoom.

[2020-04-28 15:09] #45 closed, assigned to agrignard

[2020-04-28 15:12] agrignard opened #47 "Limit the z value of the cam"
Is it possible to limit the z value of the cam to avoid being able to go behind the table

<img width="1418" alt="Screenshot 2020-04-28 at 17 11 39" src="https://user-images.githubusercontent.com/3928502/80504449-6c555f00-8973-11ea-9fad-278ac8d0e4db.png">

[2020-05-26 18:53] RELNO opened #49 "Layer interaction"
- maybe the layers animation flying up makes it harder to compare the scenarios, since there's a long time gap between the previous and next.

- get extra information when hover the mouse over the layers. For instance I saw you proposed a new big cultural facility in 2040 and would like to know more.

[2020-05-26 18:55] RELNO commented on #44
I guess it's a won't fixed bug. closing

[2020-05-26 18:55] #44 closed, assigned to agrignard

[2020-05-26 18:55] #40 closed, assigned to agrignard, tnguyenh, LAAP, nayoub

[2020-05-26 18:59] RELNO commented on #34
I'll leave it now with the current options, LMK if this is a problem

[2020-05-26 18:59] #34 closed, assigned to nobody

[2020-05-26 19:02] RELNO commented on #31
I think we're leaving the circumcised  Arc as is. closing

[2020-05-26 19:02] #31 closed, assigned to agrignard, tnguyenh

[2020-05-26 19:02] RELNO commented on #30
I think we've fixed that by now. open if still an issue.

[2020-05-26 19:02] #30 closed, assigned to agrignard, RELNO

[2020-05-26 19:03] RELNO commented on #13
thanks all! closing

[2020-05-26 19:03] #13 closed, assigned to nobody

[2020-05-26 19:04] RELNO commented on #18
we'll make it more streamlined next time. QGIS->Blender->JSON->THREE is a long trip...

[2020-05-26 19:04] #18 closed, assigned to RELNO, tnguyenh